@font-face {
    font-family: 'Tiempos Text';
    src: url('TiemposText-Regular.woff2') format('woff2'),
        url('TiemposText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('FoundersGrotesk-Regular.woff2') format('woff2'),
        url('FoundersGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

